* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Wix Madefor Text", sans-serif;
}


/* Navigation bar / hero section */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
}

nav img {
    width: 9rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

nav ul a:hover {
    color: #FEAA17;
}

nav ul a li {
    list-style: none;
}

nav .dropdown {
    display: none;
}


/* media query for nav bar */
@media(max-width: 768px) {

    nav {
        padding: 1rem;
    }

    nav ul {
        display: none;
    }

    nav .dropdown {
        display: block;
    }

    nav .dropdown .bi-list {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: #FEAA17;
    }

    nav .dropdown .dropdown-menu {
        background-color: #FF3F16;
    }
}



/* Main section */

/*                               Banner / Hero               */

main .hero {
    width: 100%;
    height: 100vh;
    padding-inline: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.70)), url('../images/hero_photo_of_spag.jpg');
    /* background-repeat: no-repeat;*/
    background-size: cover;
    background-position: center;
}

.hero .hero-text {
    color: white;
}

.hero .hero-text h1 {
    font-size: 3.5rem;
    color: #FF3F16;
}

.hero .hero-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero .hero-buttons .individual-hero-button {
    text-decoration: none;
    border: 1px solid #FEAA17;
    padding: 0.5rem 1rem;
    color: white;
}

.hero .hero-buttons .individual-hero-button:hover {
    color: #FEAA17;
}

/* media query for banner/hero section */
@media (max-width: 768px) {
    .hero .hero-text h1 {
        font-size: 2.9rem;
    }
}





/*                Our menu                */

.our-menu {
    background-color: black;
    padding: 2rem;
}

.our-menu h2 {
    text-align: center;
    color: #FF3F16;
    margin-bottom: 3rem;
}


/* Specials */

.our-menu .specials h3,
.our-menu h3{
    font-size: 1.5rem;
    text-align: center;
    color: #FEAA17;
    margin-bottom: 3rem;
}

.our-menu .specials .specials-container,
.our-menu .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    margin: auto;
}

.our-menu .specials .specials-container .individual-item,
.our-menu .menu-container .individual-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.our-menu .specials .specials-container .individual-item img,
.our-menu .menu-container .individual-item img {
    border: 2px solid #FEAA17;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}

.our-menu .specials .specials-container .individual-item .price-and-tag a,
.our-menu .menu-container .individual-item .price-and-tag  a {
    color: #FEAA17;
    font-size: 0.8rem;
}

.our-menu .specials .specials-container .individual-item .price-and-tag,
.our-menu .menu-container .individual-item .price-and-tag {
    width: 30%;
    font-size: 0.9rem;
}

.our-menu .specials .specials-container .individual-item .price-and-tag #price,
.our-menu .menu-container .individual-item .price-and-tag #price {
    font-size: 0.7rem;
    color: #FF3F16;
}



/* Media Query for Menu */

@media (max-width: 768px) {
    .our-menu .specials .specials-container,
    .our-menu .menu-container {
        display: block;
    }

    .our-menu .specials .specials-container .individual-item,
    .our-menu .menu-container .individual-item {
        margin-bottom: 2rem;
        text-align: center;
    }
}



/* footer */

footer {
    background-color: red;
    padding: 3rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.contact-info div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-info div i {
    color: orange;
    font-size: 1.2rem;
}

.contact-info div a {
    text-decoration: none;
    color: black;
}

.contact-info div a:hover {
    color: white;
}
